<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{{.Title}}</title>
</head>
<body>
    <h1>Wilkommen auf dem BFSIT Go Server.</h1>
    <p>Hier werden API'S bereitgestellt und verwaltet.</p>
    <p>Lasse dir <a id="testDataLink" href="/api/test?api_key=DEIN_API_KEY">Test Daten</a> anzeigen.</p>
    <p>Bitt gebe deinen API Key hinter der url ein -> <strong>/api/test?api_key=DEIN_API_KEY</strong> </p>
    <script src="/static/js/script.js"></script>
</body>
</html>